@model MovieViewModel[];

@foreach (var movie in Model)
{
    <div class="card mb-3" style="max-width: 1024px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=@movie.EnPosterPart class="img-fluid rounded-start" alt="...">
                <h5 class="card-title">@movie.OriginalTitle</h5>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@movie.EnTitle</h5>
                    <p class="card-text">@movie.EnOverview</p>
                </div>
                <div class="navbar-toggler">You looked movie: @movie.IsWathed
                </div>
            </div>
            <a class="btn btn-primary btn-lg" asp-area=""
           asp-controller="UserRoom" asp-action="Change"
           asp-route-movieId="@movie.Id">Change status</a>
        </div>
    </div>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
